<ol class="list-group">
<app-item-cv (selectedpersonne)="SelectPersonne($event)" [personne]="personnes[0]"></app-item-cv>
<app-item-cv (selectedpersonne)="SelectPersonne($event)" [personne]="personnes[1]"></app-item-cv>
<app-item-cv (selectedpersonne)="SelectPersonne($event)" [personne]="personnes[2]"></app-item-cv>
<app-item-cv (selectedpersonne)="SelectPersonne($event)" [personne]="personnes[3]"></app-item-cv>
<app-item-cv (selectedpersonne)="SelectPersonne($event)" [personne]="personnes[4]"></app-item-cv>
<app-item-cv (selectedpersonne)="SelectPersonne($event)" [personne]="personnes[5]"></app-item-cv>
</ol>